.autoRotate__container {
    height: 100%;
    width: 100vw;
    gap: var(--gap);
    background-color: #FCF3F6;
}

/* Hero Section */
.hero__items {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero__items>.hero__content {
    flex: 1;
}

.hero__items>.hero__image {
    flex: 1;
}

.hero__items>.hero__content {
    padding-left: 100px;
}

.hero__items>.hero__content>.content {
    font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1rem;
    width: 53ch;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #3a383c;
}

.hero__items>.hero__content>.title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}


/* Trusted Section */
.trusted-container {
    background-color: #FFFFFF;
}


/* Why CallHippo Section */

.whyCall__container {
    width: 1200px;
    margin: 30px auto;
}

.whyCall__container>.why__header {
    margin: 0 15px;
}

.whyCall__container>.why__header>.why__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.whyCall__container>.why__header>.why__text {
    font-size: 1.2rem;
    margin-bottom: 34px;
    color: #3a383c;
    text-align: center;
}

.whyCall__container>.why__cards {
    display: flex;
    justify-content: space-around;
}

.whyCall__container>.why__cards>.card {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(65, 59, 59, 0.45);
    border-radius: 15px;
}

.whyCall__container>.why__cards>.card>span {
    height: 70px;
    width: 70px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.whyCall__container>.why__cards>.card>.span1 {
    background: #EDF4FF;
}

.whyCall__container>.why__cards>.card>.span2 {
    background: #F6F1FF;
}

.whyCall__container>.why__cards>.card>.span3 {
    background: #FFE9EB;
}

.whyCall__container>.why__cards>.card>span>img {
    width: 40px;
    height: 40px;
}


.whyCall__container>.why__cards>.card>h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.whyCall__container>.why__cards>.card>.card__text {
    color: #3a383c;
    line-height: 1.6;
    width: 28ch;
}

/* Experience Section */
.experience {
    width: 100%;
    background-color: #FFFFFF;
}

.exp__container {
    width: 1200px;
    margin: 40px auto;
    
    padding: 30px 0;
}

.exp__container>.exp__header>.exp__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}


.exp__container>.exp__header>.exp__text {
    font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    color: #3a383c;
    width: 105ch;
    line-height: 1.6;

}

.hero__btn {
    display: flex;
    justify-content: center;
}

.exp__container>.exp__header>.hero__btn button {
    font-size: 1.1rem;

}

.exp__container>.exp__cards {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.exp__container>.exp__cards>.exp__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exp__container>.exp__cards>.exp__card>span {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.exp__container>.exp__cards>.exp__card>.span1 {
    background: #4D6DDD;
}

.exp__container>.exp__cards>.exp__card>.span2 {
    background: #FF5969;
}

.exp__container>.exp__cards>.exp__card>.span3 {
    background: #3578FF;
}

.exp__container>.exp__cards>.exp__card>span>img {
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.exp__container>.exp__cards>.exp__card>h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.exp__container>.exp__cards>.exp__card>.card__text {
    color: #3a383c;
    line-height: 1.6;
    width: 30ch;
    text-align: center;
    font-weight: lighter;
}


/* Setup Section */
.autoRotate__container>.setup-container .setup-wrapper {
    background-color: #0B0A1E;
  }

/* Benifits Section */
.benefits {
    width: 100%;
    background-color: #FFFFFF;

}

.benefits__container {
    width: 1200px;
    margin: 40px auto;
    padding: 30px 0;
}

.benefits__container>.benefits__header>.benefits__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}


.benefits__container>.benefits__header>.benefits__text {
    font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    color: #3a383c;
    line-height: 1.6;
}

.hero__btn {
    display: flex;
    justify-content: center;
}

.benefits__container>.benefits__header>.hero__btn button {
    font-size: 1.1rem;

}

.benefits__container>.benefits__cards {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.benefits__container>.benefits__cards>.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__container>.benefits__cards>.benefits__card>span {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.benefits__container>.benefits__cards>.benefits__card>.span1 {
    background: #F25930;
}

.benefits__container>.benefits__cards>.benefits__card>.span2 {
    background: #6A88F7;
}

.benefits__container>.benefits__cards>.benefits__card>.span3 {
    background: #25C16F;
    ;
}

.benefits__container>.benefits__cards>.benefits__card>span>img {
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.benefits__container>.benefits__cards>.benefits__card>h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.benefits__container>.benefits__cards>.benefits__card>.card__text {
    color: #3a383c;
    line-height: 1.6;
    width: 35ch;
    text-align: center;
    font-weight: lighter;
}

/* Avantages Section */
.avantages__container {
    width: 1050px;
    margin: 40px auto;
    padding: 30px 0;
}


.avantages__container>.avantages__header>.avantages__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}


.avantages__container>.avantages__header>.avantages__text {
    font-family: 'Inter', Helvetica, Arial, Lucida, sans-serif;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    color: #3a383c;
    line-height: 1.6;
}

.avantages__container>.avantages__cards {
    padding: 50px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(206, 196, 196, 0.45);
    border-radius: 15px;
}

.avantages__container>.avantages__cards>.avantages__card {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
}

.avantages__container>.avantages__cards>.avantages__card>.card__text {
    text-align: center;
}

.avantages__container>.avantages__cards>.avantages__card>.card__text>h2 {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #000000;
    line-height: 1.5;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>span {
    height: 70px;
    width: 70px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>span>img {
    width: 40px;
    height: 40px;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span1 {
    background: #EDF4FF;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span2 {
    background: #DDFFED;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span3 {
    background: #A376FF1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span4 {
    background: #FEC1631A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span5 {
    background: #4769FF1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span6 {
    background: #FFF5EF;
}


.avantages__container>.avantages__cards>.avantages__card>.card__image>.span7 {
    background: #FFE9EB;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span8 {
    background: #FFF1EB;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span9 {
    background: #96DEDA1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span10 {
    background: #FF96F91A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span11 {
    background: #D11C3D1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span12 {
    background: #7C98F91A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span13 {
    background: #F6F1FF;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span14 {
    background: #E3F5FF;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span15 {
    background: #FD65851A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span16 {
    background: #6B73FF1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span17 {
    background: #5FE1FE1A;
}

.avantages__container>.avantages__cards>.avantages__card>.card__image>.span18 {
    background: #4769FF1A;
}

/* Hear From U section */
.hearFromU {
    width: 100%;
    background-color: #FFFFFF;
}
.hearFromU__container {
    width: 1050px;
    margin: 0px auto;
    padding: 30px 0;
}

.hearFromU__container>h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
}

.hearFromU__container>.hearFromU__mainview {
    display: flex;
    justify-content: space-around;
}

.hearFromU__container>.hearFromU__mainview> .hearFromU__content {
    flex: 1;
    position: relative;
    padding: 30px;
}


.hearFromU__container > .hearFromU__mainview > .hearFromU__image > img {
    width: 368px;
    height: 398px;
}


.hearFromU__container>.hearFromU__mainview>.hearFromU__content> img {
    position: absolute;
  transform: translate(-2px, -45px);
  opacity: 0.14;
}

.hearFromU__container>.hearFromU__mainview>.hearFromU__content> p {
    font-family: 'Poppins',sans-serif !important;
  font-size: 29px !important;
  line-height: 48px !important;
  color: #000 !important;
  width: 32ch;
  margin-bottom: 20px;
}

.hearFromU__container > .hearFromU__mainview >.hearFromU__content > .hearFromU__footer {
    display: flex;
  gap: 20px;

}

.hearFromU__container > .hearFromU__mainview >.hearFromU__content > .hearFromU__footer > .footer__name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hearFromU__container > .hearFromU__mainview >.hearFromU__content > .hearFromU__footer > .footer__name p {
    font-size: 1.4rem;
    font-weight: 600;
}

.hearFromU__container > .hearFromU__mainview >.hearFromU__content > .hearFromU__footer > .footer__name p >span {
    font-size: 1rem;
    font-weight: 100;
}
