.terms__content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.terms__header {
    background-color: #FFE7EC;
    padding: 100px;
}

.terms__header h1 {
    text-align: center;
    color: #242222;
    font-size: 2.2rem;
}

.terms__content p {
    margin-bottom: 12px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 25px;
}

.terms__content h3 {
    font-size: 20px;
    letter-spacing: 1px;
}

.terms__content h4 {
    margin-bottom: 8px;
    margin-top: 10px;
    font-size: 19px;
    letter-spacing: 1px;
}

.terms__content span {
    color: #242222;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .terms__content {
      width: 100%;
      padding: 15px;
    }
}