.form-container {
    height: 100vh;
    width: 650px;
    margin: auto;
    margin-top: 70px;
}

.form-container .form-title {
    display: flex;
    justify-content: space-between;
}

.form-container .checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
}

.form-container .checkout-form .input-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container .checkout-form .input-line input {
    height: 45px;
    padding: 15px;
}

.form-container .checkout-form .input-line.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.form-container .checkout-form .input-line.select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.form-container .checkout-form .input-line>p {
    display: flex;
    justify-content: space-between;
}

.form-container .checkout-form input[type="submit"] {
    width: fit-content;
    padding: 15px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin-left: auto;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .form-container {
        width: 100%;
        padding: 15PX;
    }
}