.container.powerDialer {
    padding-top: 0px;
}

.container {
    background-image: none;
}

.powerDialer,
.office {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: none;
}

.hero-container {
    background: url("/img/SVG/containerBg.png");
}

.hero-container .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container .hero__title>h2 {
    font-size: 3.5rem;
}

.hero-container .hero__desc>p,
.whatsIs p {
    font-size: 1rem;
    font-weight: normal;
    color: #333333b9;
    line-height: 1.7em;
}

.whatsIs {
    width: 1200px;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.whatsIs h4 {
    font-size: 2rem;
}

.benefitsGrid {
    width: 1200px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.benefitsGrid .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.benefitsGrid .left h4 {
    font-size: 1.8rem;
    width: 90%;
    line-height: 1.7em;
}

.benefitsGrid .left h4 span {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 10px;
}

.benefitsGrid .left p {
    font-weight: 400;
    width: 32ch;
    color: #334354;
    line-height: 1.5em;
}

.benefitsGrid .right {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.benefitsGrid .right .card {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.benefitsGrid .right .card>h4 {
    font-weight: 600;
    font-size: 1.1rem;
}

.benefitsGrid .right .card>p {
    color: #333333b9;
}


.benefitsGrid .right .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 10px;
}

.benefitsGrid .right .card .icon i {
    color: #fff;
}

.benefitsGrid .right .card:nth-child(1) .icon {
    background-color: #2EACFC;
}

.benefitsGrid .right .card:nth-child(2) .icon {
    background-color: #FF5969;
}

.benefitsGrid .right .card:nth-child(3) .icon {
    background-color: #3578FF;
}

.benefitsGrid .right .card:nth-child(4) .icon {
    background-color: #F25930;
}

.benefitsGrid .right .card:nth-child(5) .icon {
    background-color: #F47741;
}

.benefitsGrid .right .card:nth-child(6) .icon {
    background-color: #6A88F7;
}

.freeTrial {
    width: 1200px;
    margin: auto;
    background-color: #0b0a1e;
    border-radius: 1.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
}

.freeTrial .left {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 45px;
    gap: 20px;
}

.freeTrial .left h3 {
    font-size: 2rem;
}

.freeTrial .left h3 span {
    color: #ffd119;
}

.freeTrial .left>p {
    font-size: 1.3rem;
    color: #fff;
}

.freeTrial .left>ul {
    display: flex;
    gap: 1rem;
}

.freeTrial .left>ul i {
    margin-right: 5px;
}

.freeTrial .left button {
    padding: 15px 25px;
    width: max-content;
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 5px;
}

.featuresContainer {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: var(--gap);
    text-align: center;
}

.featuresContainer h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.featuresContainer .featuresGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.featuresContainer .featuresGrid .card {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.featuresContainer .featuresGrid .card img {
    border-radius: 1.5rem;
}

.featuresContainer .featuresGrid .card h5 {
    font-size: 1.7rem;
    font-weight: 500;
}

.featuresContainer .featuresGrid .card p {
    font-size: 1.15rem;
    line-height: 1.7em;
    font-weight: 300;
    color: #333333b9;
}

.pricing__bottom--wrapper {
    margin: auto;
}

.pricing__bottom--wrapper>h3 {
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
}

.pricing__bottom--wrapper .option {
    display: none;
}

.pricing__bottom--wrapper .option.active {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.pricing__bottom--wrapper .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
}

.pricing__bottom--wrapper .card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.related__head {
    text-align: center;
    margin-bottom: 25px;
}

.related__head h2 {
    font-size: 2rem;
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #d8d8d8;
    background-color: #fff !important;
    border-radius: 4px;
    flex-basis: 32%;
    list-style: none;
}

.post img {
    object-fit: contain;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.related__body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 28px;
    padding: 0 !important;
    padding: 0 0 23px 1em;
}

.post h3 {
    padding: 16px 16px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
    flex: 1 0 auto;
    font-weight: 600;
    text-align: center;
}

.post a,
a:hover {
    text-decoration: none;
}

.post h3:hover {
    color: #FF1849;
}

.related__posts {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}