/* .blog-content{
    text-align: center;
    font-weight: 2rem;
    max-width: 1400px;
} */
.blog-title {
    font-size: 1.8rem;
    color: #012635;
}

.blog-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center; 
    max-width: 1100px;
    /* border: solid black; */

}

.blog-content >.last {
    font-size: 1.45rem;
    color: #012635;
    margin-bottom: 15px;
    font-weight: bold;
}

.blog-content h5 {
    font-size: 1.45rem;
    color: #012635;
    align-items: center;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 15px;
}

.blog-content ul {
    margin-left: auto;
    margin-right: auto; 
    text-align: left; 
    max-width: 900px; 
}

.blog-content ul p{
    font-size: 1.4rem;
    margin-bottom: 7px;
    color: #211f22;
}

.blog-content ul li , .blog-content p{
    font-size: 1.1rem;
    line-height: 1.6;
    padding-left: 20px;
    margin-bottom: 7px;
    color: #3a383c;    
}

.blog-content ul li:first-child {
    margin-top: 5px;
}
.blog-content .instruction{
    font-size: 20px;
    color: #FF1849;
} 
.blog-content li{
    text-decoration: none;
}
.instruction-end{
    color: black;
    font-size: 20px;
}
.options-lo {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Center align the list items */
  }

  /* Style list items */
  .chose-li {
    margin-bottom: 15pxpx;
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: inline-block;
}